@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Mohave:wght@500&display=swap');
:root{
    --primary-color: rgb(202, 112, 127);
    --secondary-color: rgb(46, 46, 46);
    --font-secondary: 'Dancing Script', arial;
    --font-tree: 'Mohave', sans-serif;
    --box-shadow:  2px 2px 8px rgb(241, 177, 188);
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
html{
    font-size: 10px;
}

.box{
    box-shadow: var(--box-shadow);
    margin: 5px;
    background-color: #222;
}

/*HEADER*/

.head-container{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9;
    top: 0;
    opacity: .9;
}


.link-left, .link-right{
    display: flex;
    align-items: center;
}

.link-left li, .link-right  li {
    display: inline-block;
}

.head-container ul , a{
    list-style: none;
    text-decoration: none;
    margin-right: 25px;
    color: #000000;
    text-shadow: 1px 1px  #fff;
    font-size: 2.5rem;
    padding: 10px;
    font-family: var(--font-secondary);
}

 a:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
    transition: all 0.3s;
    color: #fff;
    text-shadow: 1px 1px  #000;
    border-radius: 15%;
   
}
.logotype{
    display: flex;
    gap: 15px;
}

.title{
    font-size: 3.5rem;
    align-self: center;
    color: #0a0a0a;
    font-family: var(--font-secondary);
    text-shadow: 0.5px 0.8px  #fff;
}

.logo{
    align-self: center;
}

.logo img{
    height: 55px;
    align-self: center;
}

/*body background-image*/

body{
   background-color:#222;
   gap: 5px;
}

/*section images*/

.main-container{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-image: url(./images/imagen6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
    margin-top: 80px;
    opacity: 0.8;
   
}

.section-imagen{
    display: flex;
    width: 600px;
    height: 430px;

}

.section-imagen img{
    width: 0px;
    flex: 3;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section-imagen img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*Horarios*/

.horario{
    color: #fff;
    font-size: 1.9rem;
    text-shadow: 2px 2px 1px #000000;
}
.horario li{
    margin: 10px;
    list-style: none;
}

/*texto*/

.texto{
    display: flex;
    background-image: url(./images/fomd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #222;
    opacity: 0.9;
    height: auto;
}

.extra {
    width: 300px;
    height: auto;
    padding: 24px;
  }
  

  .extra h1{
    color:#fff ;
    font-size: 3rem;
    text-shadow: 2px 2px 1px #000000;
    display: inline-block;
    text-align: center;
  }

  .extra p{
    color:#fff ;
    font-size: 2.5rem;
    text-shadow: 2px 1px 1px #000000;
    text-align: center;
  }

  .tinta{
    opacity: 0.7;
  }

  .tinta:hover{
    opacity: 1;
    transition: all 0.8ms;
    cursor: grab;
  }



/*MAPS*/

.maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 30px;
    gap: 35px;
    background-image: url(./images/ubi.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.maps h1{
   font-size: 2.8rem;
   font-family: var(--font-secondary);
   text-shadow: 1px 1px black;
   color: #fff;
}

/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #444;
}
footer h4{
   color: #fff;
   font-size: 2rem;

}
